@media screen and (min-width: 695px) {
	.projectPreview {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	header, main {
		width: 1024px;
		margin: auto;
	}
	hr {
		width: 1024px;
	}
	.projectPreview {
		width: 33.33333%;
	}
}